h2{
    margin: 0;padding: 0;
}
.title{
    /* color: #fff; */
    color: #C8C8C8;
    position: relative;
    z-index: 2000;
    /* outline: 1px solid red; */
    margin: 50px 30px 50px 20px;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: #fff 1px 1px 1px;
}

.fondoB{
    position: relative;
    padding: 200px 0;
    background: radial-gradient(at bottom center, #00D6D6, #010101);
}
.fndPie2{
    position: absolute;
    width: 100vw;
    right: 0px;
    top: -6px;
    transform: scale(-1);
    z-index: 5000;
}
.fondoBPie{
    width: 100%;
    margin-top: 100px;
    /* border-radius: 5px; */
    /* border: 1px solid rgba(0, 214, 214, 0.3); */
    /* background: linear-gradient(90deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.5) 100%); */
    box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
    padding: 100px 0;
    position: relative;
    z-index: 30000;
}
.horario{
    background: url(../img/garantia/horario.png);
}
.garantia{
    background: url(../img/garantia/garantia.png);
}
.rapidez{
    background: url(../img/garantia/rapidez.png);
}
.horario,.garantia,.rapidez{
    width: 20%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.fondoC{
    /* position: relative; */
    min-height: 100vh;
    background: radial-gradient(at top center, #00D6D6, #010101);
    /* padding-top: 100px; */
}
.contFondoC{
    /* padding: 50px 20px; */
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.5) 100%);
}
.fndCTxt,.fndCImg{
    width: 100%;
    height: 300px;
    /* outline: 1px solid red; */
}
.title2{
    color: #C8C8C8;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: #fff 1px 1px 1px;
}
.fndCImg{
    background: url(../img/gaming/gamer.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    outline: 1px solid green;
}
.fndCImg::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    background: rgba(255, 0, 0, .5);
    margin-top: 250px;
}
.fndCTxt p{
    color: #C8C8C8;
    text-align: center;
    padding: 20px;
}
@media screen and (min-width: 640px) {
    .fndCTxt,.fndCImg{
        width: 50%;
        height: 300px;
    }
    .fndPie2{
        position: absolute;
        width: 80vw;
        right: 0px;
        top: -6px;
        transform: scale(-1);
        z-index: 5000;
    }
}
@media screen and (min-width: 1400px) {
    .fndCTxt,.fndCImg{
        width: 50%;
        height: 300px;
    }
    .fndCImg{
        background: url(../img/gaming/gamer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 650px;
    }
    .fndCTxt p{
        color: #C8C8C8;
        text-align: center;
        padding: 20px;
    }
}
.ddd{
    width: 100%;
    height: 100vh;
    position: relative;
    background: radial-gradient(at bottom center, #00D6D6, #010101);
    display: flex;
    justify-content: center;
    align-items: center;
}