h1{
    margin: 0;padding: 0;
}
.title{
    color: #fff;
    position: relative;
    z-index: 2000;
    /* outline: 1px solid red; */
    margin: 50px 20px 50px 20px;
    padding: 20px;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}
.fondoB{
    position: relative;
    min-height: 100%;
    /* overflow: hidden; */
    background: #00D6D6;
    background: radial-gradient(at bottom center, #00D6D6, #010101);
}
.fndPie2{
    position: absolute;
    width: 100vw;
    left: 0;
    top: -6px;
    transform: scale(-1);
}