*{  
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: monospace;
}
body{
    width: 100vw;height: 100vh;
    background: rgba(0, 0, 0, 1);
    /* background: palevioletred; */
    overflow-x: hidden;
    cursor: context-menu;
}
.container{
    width: 100vw;height: 100vh;
    /* outline: 5px solid red; */
}
.uno .matrix{
    width: 100vw;height: 100vh;
    position: absolute;
}
.uno .fondo{
    overflow: hidden;
    position: absolute;
    width: 100vw;height: 100vh;
}
.uno .fondo .fndCentro,
.uno .fondo .fndPie,
.uno .fondo .panelLeft{
    position: absolute;
}
.uno .fondo .fndCentro{
    width: 250vw;
    transform: translateX(-50%);
    left: 50%;
    top: 10%;
}
.uno .fondo .panelLeft{
}
.uno .fondo .fndPie{
    width: 100vw;
    bottom: 0;
    left: 0;
}

/* Contenido */
.contenido{
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-columns: 50% 50%;
    grid-template-rows: 8.4% 15% 15% 1fr 20% 8.4%;
    grid-template-areas: 
        "adUp       adUp"
        "logoIn     logoIn"
        "rrss     rrss"
        "slide      slide"
        /* "panelLeft  ." */
        "mapa       imgtyped"
        "adDown     adDown"
    ;
}
.adUp{
    grid-area: adUp;
    height: 90%;
    /* background: rgba(255, 0, 0, 0.5); */
}
.logoIn{grid-area: logoIn;
    /* background: rgba(255, 255, 0, 0.5); */
}
.rrss{grid-area: rrss;
    /* position: relative; */
    /* background: rgba(255, 255, 255, 0.5); */
}
.slide{grid-area: slide;
    /* background: rgba(0, 255, 255, 0.5); */
}
.mapa{grid-area: mapa;
    /* background: rgba(0, 0, 255, 0.5); */
}
.imgtyped{grid-area: imgtyped;
    /* background: rgba(255, 0, 255, 0.5); */
}
.adDown{grid-area: adDown;
    position: relative;
    /* background: rgba(255, 255, 255, 0.5); */
}

.imgadUp{
    height: 100%;
    margin-top: 1%;
}
.imglogoIn{
    /* height: 100%; */
    transform: translateX(-50%);
    margin-left: 50%;
}
.imgrrss{
    /* height: 100%; */
    transform: translateX(-50%);
    margin-left: 50%;
    /* object-fit: contain; */
}
.imgadDown{
    position: absolute;
    height: 100%;
    left: 0;
}



@media screen and (min-width: 1024px) {
    .uno .fondo .fndCentro{
        width: 100vw;
        top: 0;
    }
    .uno .fondo .fndPie{
        width: 50vw;
    }
    .uno .fondo .panelLeft{
        transform: translateY(-50%);
        margin-top: 50%;
        width: 50vw;
    }
    /* grid */
    .contenido{
        position: absolute;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        display: grid;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows: 8.4% 8.4% 1fr 17.9% 17.9% 8.4%; */
        grid-template-areas: 
            "adUp           adUp    adUp"
            "logoIn         .       rrss"
            "slide          slide   slide"
            ".              mapa    imgtyped"
            "adDown         adDown  adDown"
        ;
    }
    .imgadUp{
        width: 100%;
        margin-top: 1%;
    }
    .imglogoIn{
        height: 100%;
        transform: translateX(-50%);
        margin-left: 50%;
    }
    .imgrrss{
        height: 100%;
        transform: translateX(-50%);
        margin-left: 50%;
    }
    .imgadDown{
        width: 100%;
        margin-bottom: 1%;
    }
}

/* DOS */

.dos{
    border: 10px solid green;
}
.dos2{
    width: 100%;
    height: 50px;
    background: #0ff;
}