*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: monospace;
}
body{
    background: #000;
}
.home{
    width: 100vw;height: 100vh;
}
section{
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    align-self: center;
    justify-self: center;
}
section h2{
    text-align: center;
    align-items: center;
    justify-content: center;

}