.presentacion{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    overflow: hidden;
    display: grid;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-columns: 50% 50%;
    grid-template-rows: 8% 15% 15% auto 10% 8%;
    grid-template-areas:
        "up         up"           
        "logo       logo"         
        "rrss       rrss"         
        "slide      slide"         
        /* "tecnico    asistencia"     */
        "mundi      typing"        
        "down       down"         
        ;
}

.up{
    grid-area: up;
    background: url(../img/presentacion/adUp.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.logo{
    grid-area: logo;
    background: url(../img/presentacion/logoIn.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.rrss{
    grid-area: rrss;
}
#imgrrss{
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
}
.tecnico{
    grid-area: tecnico;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slideCon{
    grid-area: slide;
    /* background: rgba(0, 255, 0, 0.5); */
}
.asistencia{
    grid-area: asistencia;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.mundi{
    grid-area: mundi;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.typing{
    grid-area: typing;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.down{
    grid-area: down;
    background: url(../img/presentacion/adDown.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}