.presentacion{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    overflow: hidden;
    display: grid;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-columns: 50% 50%;
    grid-template-rows: 8% 15% 15% auto 10% 8%;
    grid-template-areas:
        "up         up"
        "logo       logo"
        "rrss       rrss"
        "slide      slide"
        "mundi      typing"
        "down       down"
        ;
}

.up{
    grid-area: up;
    background: url(../img/presentacion/adUp.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.logo{
    grid-area: logo;
    background: url(../img/presentacion/logoIn.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.rrss{
    grid-area: rrss;
}
#imgrrss{
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
}
.slideCon{
    grid-area: slide;
    /* display: flex;justify-content: center;align-items: center; */
}
.mundi{
    grid-area: mundi;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.typing{
    grid-area: typing;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.down{
    grid-area: down;
    background: url(../img/presentacion/adDown.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 800px) {
    .presentacion{
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 3;
        overflow: hidden;
        display: grid;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 12% 45% 18% 10%;
        grid-template-areas:
        "up     up      up"
        "logo   .       rrss"
        "slide  slide   slide"
        ".      mundi   typing"
        "down   down    down"
            ;
    }
    .up{
        grid-area: up;
        background: url(../img/presentacion/adUp.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;justify-content: center;align-items: center;
    }
    .down{
        grid-area: down;
        background: url(../img/presentacion/adDown.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;justify-content: center;align-items: center;
    }
    .slideCon{
        grid-area: slide;
        display: flex;justify-content: flex-start;align-items: center;
    }
    
}