#scrollpath{
    position: fixed;
    top: 0;right: 0;
    width: 5px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
#progressbar{
    z-index: 30000;
    position: fixed;
    top: 0;right: 0;
    width: 5px;
    /* height: 50%; */
    background: linear-gradient(to top, #000000, rgb(0, 214, 214));
    /* animation: progressbar 5s linear infinite; */
}
#progressbar::before,
#progressbar::after
{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background: linear-gradient(to top, #000000, rgb(0, 214, 214));
    filter: blur(10px);
}
#progressbar::after
{    
    filter: blur(30px);
}
#percent{
    position: fixed;
    top: 10%;
    transform: translateY(-50%) rotateX(180deg) rotateY(180deg);
    right: 10px;
    color: #fff;
    font-size: 0.8em;
    z-index: 30000;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}
@keyframes progressbar {
    0%,100%
    {
        filter:hue-rotate(0deg);
    }
    50%
    {
        filter:hue-rotate(360deg);

    }
}