:root{  --width : 350px;    --height : 200px;   }
.slider{
    position: relative;
    width: var(--width);   height: var(--height);
    overflow: hidden;
    transform: translateX(-50%);    left: 50%;
}
.slides{
    width: 5000px;
    display: flex;
    position: absolute;
    top: 0; left: -100%;
}
.slides.transition{
    transition:  all 1s linear;
    animation: move 0.8s forwards;
}
@keyframes move {0%{opacity: 1;}85%{opacity: 0;}100%{opacity: 1;}}
.slide{
    width: var(--width);    height: var(--height);
    display: flex;  align-items: center;    justify-content: center;
}
img{
    width: 50%;height: 90%;
    object-fit: contain;
    /* outline: 1px solid green; */
}