.contenedor2{
    position: absolute;
    width: 90%;
    overflow: hidden;
    z-index: 10000;
    transform: translateX(-50%);
    left: 50%;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
.contenido-slider > img{
    width: 250px;
    object-fit: contain;
}
@media screen and (max-width:375px){
    .contenido-slider > img{
        width: 150px;
    }
}
@media screen and (max-width:1400px){
    .contenido-slider > img{
        width: 200px;
    }
}
/* 
.contenido-slider > div{
    width: 40%;
}



@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

} */