.continerSF{
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
    /* outline: 1px solid green; */
}
.slides{
    display: flex;
    width: 700%;
    height: 200px;
}
.slide{
    width: 100%;
    height: 100%;
}
.slideImg{
    display: block;
    width: 90%;
    height: 90%;
    object-fit: contain;
    transform: translate(5%, 7.5%);
}
.svgW object{
    max-width: 90%;
    height: 100%;
}
.svgW{
    width: 100%;
    height: 100%;
    transform: translate(5%,0);
}
.noPlay{
    display: none;
}
.play{
    display: block;
}
@media screen and (min-width: 700px){
    .svgW object{
        max-width: 60%;
        height: 100%;
        transform: translate(20%,0);
    }
    .play{
        display: block;
    }
}
@media screen and (min-width: 1200px){
    .slides{
        display: flex;
        height: 230px;
    }
    .svgW object{
        max-width: 50%;
        height: 100%;
        transform: translate(25%,0);
    }
    .play{
        display: block;
    }
}
@media screen and (min-width: 1700px){
    .slides{
        display: flex;
        height: 350px;
    }
    .svgW object{
        max-width: 30%;
        height: 100%;
        transform: translate(35%,0);
    }
    .play{
        display: block;
    }
}
/* borrar */
.slidesBtn{
    width: 50px;height: 50px;
    border-radius: 50%;
    background: #eee;
    color: #000;
    display: flex;align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 15000;
}
.btnRight{
    right: 5%;
}