.fondoB{
    position: relative;
    padding: 200px 0;
    background: radial-gradient(at bottom center, #00D6D6, #010101);
}
.fndPie2{
    position: absolute;
    width: 80vw;
    /* height: 100%; */
    right: 0px;
    top: -6px;
    transform: scale(-1);
    z-index: 5000;
}
.iconosDescripcion{
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 10000;
    transform: translateX(-50%);
    margin-left: 50%;
}
#mante{
    background-image: url(../img/ventanas/mante.svg);
}
#repara{
    background-image: url(../img/ventanas/repara.svg);
}
#insumos{
    background-image: url(../img/ventanas/redes.svg);
}
#redes{
    background-image: url(../img/ventanas/insumos.svg);
}
#cctv{
    background-image: url(../img/ventanas/cctv.svg);
}
#web{
    background-image: url(../img/ventanas/web.svg);
}

.contIcon{
    width: 300px;
    height: 260px;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 2px 2px rgba(0, 217, 217, 0.1);
}
.iconTxt{
    line-height: 1.8em;
    color: #fff;
    font-weight: 500;
    visibility: hidden;opacity: 0;
    width: 220px;
    height: 230px;
    padding: 10px;
    background: rgba(0, 217, 217, 0.05);
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 2px 2px rgba(0, 217, 217, 0.1);
    border-radius: 5px;
    transition: visibility 0.5s, opacity 0.5s;
}
.iconTxt h2{
    padding: 5px;
}
.iconTxtV{
    visibility: visible;opacity: 1;
}
.iconImg{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 2px 2px rgba(0, 217, 217, 0.1);
    width: 150px;height: 150px;
    transform: translate(65px, -200px);
    z-index: 10;
    transition: all 0.5s;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.iconImg:hover{
    box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.5);
}
.iconImg::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    bottom: 0;
    background: url(../img/ventanas/radar.svg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.iconImgV{
    width: 80px;
    height: 230px;
    transform: translate(230px, -230px);
    transition: all 0.5s;
}

.fondoBPie{
    width: 100%;
    margin-top: 50px;
    box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
    padding: 50px 0;
    position: relative;
    z-index: 30000;
}
.horario{
    background: url(../img/garantia/horario.svg);
}
.garantia{
    background: url(../img/garantia/garantia.svg);
}
.rapidez{
    background: url(../img/garantia/rapidez.svg);
}
.horario,.garantia,.rapidez{
    width: 20%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}