#iconosDescripcion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 10000;
}
#express{
    background-image: url(../img/ventanas/express.svg);
}
#farmacia{
    background-image: url(../img/ventanas/farmacia.svg);
}
#documentos{
    background-image: url(../img/ventanas/documentos.svg);
}
#viveres{
    background-image: url(../img/ventanas/viveres.svg);
}
.contIcon{
    width: 300px;
    height: 260px;
    background: #ccc;
    padding: 10px 10px;
    margin: 10px;

    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 2px 2px rgba(0, 217, 217, 0.1);
}
.iconTxt{
    color: #fff;
    font-weight: 500;
    visibility: hidden;opacity: 0;
    width: 220px;
    height: 230px;
    background: #fff;
    padding: 10px;
    background: rgba(0, 217, 217, 0.05);
    transform: translateZ(40px);
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 2px 2px rgba(0, 217, 217, 0.1);
    border-radius: 5px;
    transition: visibility 0.5s, opacity 0.5s;
}
.iconTxtV{
    visibility: visible;opacity: 1;
}
.iconImg{
    cursor: pointer;
    background: rgb(200, 200, 200);
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    width: 150px;
    height: 150px;
    transform: translate(65px, -200px);
    z-index: 10;
    transition: all 0.5s;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
    border: 1px solid #fff;
}
.iconImgV{
    width: 80px;
    height: 230px;
    transform: translate(230px, -230px);
    transition: all 0.5s;
}