.ddd{
  width: 100%;
  height: 200px;
  position: relative;
  /* background: radial-gradient(at bottom center, #00D6D6, #010101); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorMarcasS{
  width: 100vw;
  height: 100px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 1) 100%);
  margin: auto;
  position: absolute;
  z-index: 1;    
}
.contenedorMarcas{
  width: 100vw;
  height: 100px;
  margin: auto;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 255, 255, 0.3);
  box-shadow: inset 0 0 10px 10px rgba(0, 217, 217, 0.1);
}
.sliderMarcas{
  display: flex;
  animation: scroll 30s linear infinite;
  width: calc(200px * 62);
  height: 100%;
}
.marca{
  width: 200px;
  padding: 20px 50px;
}
.marca img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@keyframes scroll{
  0%{transform: translateX(0);}
  100%{transform: translateX(calc(-200px * 31));}
}