body{
    margin: 0;padding: 0;box-sizing: border-box;
    display: flex;justify-content: center;align-items: center;
    height: 100vh;width: 100vw;
    background: url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background: #433087; */

}
.LogoA{
    height: 100vh;
    width: 100vw;
}
