.piso{
    background: url(../img/suelo.svg);
    width: 100%;
    height: 50%;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center bottom;
    position: absolute;
    bottom: 0;
}
.navIcon{
    position: relative;
    width: 40px;height: 40px;
    top: -45px;left: 5px;
}
.navLogo{
    width: 100%;
    height: 100%;
}
.sectionIn{
    width: 50%;
    height: 50%;
}