.techo{
    width: 100%;
    height: 25%;
    position: absolute;
    top: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 100%);
    transform: rotate(180deg);
}
.techoImg{
    width: 100%;
    height: 25%;
    position: absolute;
    top: 0;
    background: url(../img/suelo.svg);
    background-size: cover;
    opacity: 0.5;
    transform: rotate(180deg);
}
.piso{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 100%);
}
.pisoImg{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background: url(../img/suelo.svg);
    background-size: cover;
    opacity: 0.5;
}

.navLogo{
    width: 90%;
    height: 90%;
}
.in{
    height: 100%;
}
.presentacion{
    width: 100vw;height: 100vh;position: absolute;top: 0;left: 0;
}