.contSection{
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100vw - 70px);
    height: calc(100vh - 60px);
    display: none;
    transition: 0.7s;
    opacity: 0;
}
.ver{
    opacity: 1;
}
.titulo{
    width: calc(100vw - 70px);
    display: flex;
    justify-content: space-evenly;
}
.contenido{
    width: calc(100vw - 70px);
    height: 90%;
    max-height: 400px;
}
.lineasMobil{
    position: absolute;
    bottom: 120px;
}
.tituloTxt{
    width: 70%;
}
.tituloTxt h2{
    font-size: 0.8em;
    text-align: center;
    text-align: justify;
    font-weight: normal;
    padding: 5px 6px;
}
.tituloTxt h2 strong{
    font-size: 1em;
    font-weight: 600;
    color: red;
}
.tituloIcon{
    padding: 5px;
    height: auto;
    width: auto;
    min-height: 70px;
    min-width: 70px;
}
.sectionIn{
    position: absolute;
    bottom: 70px;
    width: 50%;
    height: 50%;
}
.mobiliarioIMG{
    top: 100px;
    left: 10px;
    position: absolute;
    width: 70%;
    height: 250px;
}
.mobiProductos{
    position: absolute;
    top: 60px;
    right: 10px;
    width: 20%;
    height: 250px;
}
.mobiProductos object{
    position: absolute;
    left: 25%;
    width: 50%;
    height: 250px;
}
.fndA{
    position: absolute;
    width: 100%;
    height: 100%;
}
.fndB img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.fndC{
    position: absolute;
    width: 100%;
    height: 100%;
}
.materiales{
    bottom: 70px;
    position: absolute;
    width: 100%;
    height: 80px;
    background: url(../img/mobiliriario/materiales.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}