.contSection{
    position: absolute;
    right: 0;top: 120px;
    width: calc(100vw - 120px);height: calc(100vh - 150px);
    display: none;
    transition: 0.7s;
    opacity: 0;
}
.sectionIn{
    opacity: 0.1;
    position: absolute;top: 25%;left: 50%;
    transform: translateY(-50%);transform: translateX(-50%);
    width: 50%;height: 50%;
}
.ver{
    opacity: 1;
    animation: seccionesA 0.5s forwards;
}
.verTitulo{
    animation: seccionesAtitulo 0.5s forwards 1s;
}
@keyframes seccionesAtitulo{
    0%{transform: translateX(-50px);opacity: 0;}
    100%{transform: translateX(0px);opacity: 1;}
}
@keyframes seccionesA{
    0%{transform: translateY(-100px);}
    100%{transform: translateY(0px);}
}
.titulo{
    opacity: 0;
    width: 100%;height: 120px;
    display: flex;
}
.titulo h2{
    width: 100%;height: 100%;
    padding: 20px 50px;
    font-size: 1.2em;
    font-weight: normal;
    text-align: justify;
}
.titulo h2 strong{color: red;}
.contenido{
    position: relative;
    width: 100%;height: calc(100% - 320px);
}
.conteImg{
    position: absolute;
    width: 350px;height: 550px;
    margin-top: 20px;margin-left: 50px;
    opacity: 0;
}
.imgSvg{
    position: absolute;
    width: 320px;height: 500px;
    margin-top: 20px;margin-left: 20px;
}
.materiales{
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 80px;left: 50%;
    width: 80%;height: 120px;
    transform: translateX(-50%);
    display: flex;justify-content: space-evenly;align-items: center;
    border-radius: 5px;
    border: 2px dashed red ;
}
.materItens img{
    width: 90px;height: 90px;
    border-radius: 50%;
    border: 3px solid gray;
    object-fit: cover;
    cursor: pointer;
}
.materItens img.act{
    width: 90px;height: 90px;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    object-fit: cover;
}
.adornoCont{
    position: absolute;
    bottom: 0;left: 0;
    width: 80%;
}
.variedad{
    position: absolute;
    bottom: 0;right: 30px;
    height: calc(100% - 120px);
}
.icon{
    width: 120px;height: 120px;
    padding: 5px;
    position: absolute;
    right: 20px;
    border-radius: 5px;
    box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid whitesmoke;
}