.contSection{
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100vw - 120px);
    height: calc(100vh - 120px);
    display: none;
    transition: 0.7s;
    opacity: 0;
    outline: 1px solid green;
    background: rgba(0, 0, 0, 0.5);
}
.ver{
    opacity: 1;
}

.titulo{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    background: rgba(255, 0, 0, 0.2);
}
.contenido{
    position: relative;
    background: rgba(0, 255, 0, 0.2);
    width: 100%;
    height: calc(100% - 320px);
}
.materiales{
    background: rgba(0, 0, 255, 0.2);
    bottom: 80px;
    position: absolute;
    width: 100%;
    height: 120px;
}

.adornoCont{
    position: relative;
    /* width: 80%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    outline: 1px solid black;
}
.tituloTxt{
    width: 70%;
}
.tituloTxt h2{
    font-size: 0.8em;
    text-align: center;
    text-align: justify;
    font-weight: normal;
    padding: 5px 6px;
}
.tituloTxt h2 strong{
    font-size: 1em;
    font-weight: 600;
    color: red;
}
.tituloIcon{
    padding: 5px;
    height: auto;
    width: auto;
    min-height: 70px;
    min-width: 70px;
}
.sectionIn{
    position: absolute;
    bottom: 70px;
    width: 50%;
    height: 50%;
}
.mobiliarioIMG{
    top: 100px;
    left: 10px;
    position: absolute;
    width: 70%;
    height: 250px;
}
.variedad{
    position: absolute;
    top: 60px;
    right: 10px;
    width: 20%;
    height: 250px;
}
/* .variedad object{
    position: absolute;
    left: 25%;
    width: 50%;
    height: 250px;
} */
.fndA{
    position: absolute;
    width: 100%;
    height: 100%;
}
.fndB img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.fndC{
    position: absolute;
    width: 100%;
    height: 100%;
}
