nav{
    position: fixed;
    top: 20px;
    left: -140px;
    width: 70px;
    /* background: rgba(255, 0, 0, 0.5); */
    transition: all 0.5s;
    z-index: 999;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 70px;
    height: calc(100vh - 85px);
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li{
    width: 50px;
    height: 50px;
    list-style: none;
}
nav ul li a .nav{
    width: 100%;height: 100%;
    /* background: rgba(0, 255, 0, 0.1); */
    transition: all 0.3s;
    position: relative;
    transition: all 0.5s;
    border-radius: 5px;
    z-index: 1;
}
nav ul li a .nav:hover{
    border: 1px solid blue;
}
a{
    color: #fff;
    text-align: right;
}
nav ul li a .activeNav{
    /* background: rgba(255, 0, 0, 0.1); */
    border: 1px solid rgb(71, 71, 0);
    border-radius: 5px;
}
.indicador{
    position: absolute;
    width: 5px;
    height: 54px;
    background: #f00;
    z-index: -1;
    transition: 0.5s;
}