nav{
    position: fixed;
    top: 70px;
    left: -140px;
    /* width: 70px; */
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.5s;
    z-index: 999;
    border-radius: 5px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 70px;
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li{
    width: 50px;
    height: 50px;
    list-style: none;
}
nav ul li a .nav{
    width: 100%;height: 100%;
    transition: all 0.5s;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    /* outline: 1px solid green; */
}
.navIcon{
    position: relative;
    width: 40px;height: 40px;
    top: -45px;left: 5px;
}
.indicador{
    position: absolute;
    left: 0px;
    width: 5px;
    height: 50px;
    background: rgba(255, 0, 0, 1);
    z-index: -1;
    transition: 0.5s;
    border-radius: 0 5px 5px 0;
}
.indicador::after{
    content: "";
    position: absolute;
    left: 9px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
    nav{
        top: 120px;
        background: rgba(230, 230, 230, 0.5);
        box-shadow: 1px 0px 2px rgba(200, 200, 200, 0.5);
    }
    nav ul{
     width: 120px;
     height: calc(100vh - 240px);
    }
    nav ul li{
     width: 60px;
    }
    .indicador{
        width: 7px;
        height: 80px;
        top: -66px;
    }
    .indicador::after{
        content: "";
       width: 80px;
       height: 80px;
       left: 24px;
    }
    .navIcon{
        width: 70px;height: 70px;
        top: -60px;
    }
}