::-webkit-scrollbar {display: none;width: 0;}
*{box-sizing: border-box;margin: 0;padding: 0;
        scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}
body{
    scroll-behavior: smooth;
    /* background: rgba(217, 105, 105, 0.5); */
}
.contenedor {
    width: 100vw;height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
} 
header{
    width: 100vw;
    height: 60px;
    top: -60px;
    position: fixed;
    background: #fff;
    /* outline: 1px solid blueviolet; */
    text-align: center;
    z-index: 999;
}
section {
    scroll-snap-align: start end;
    height: 100vh;
    color: #000;
    scroll-behavior: smooth;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;padding: 0;box-sizing: border-box;
}