@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;600;800&display=swap');

::-webkit-scrollbar {display: none;width: 0;}
*{box-sizing: border-box;margin: 0;padding: 0;
        scroll-behavior: smooth;
        font-family: 'Exo 2', sans-serif;
}
html{
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}
body{
    scroll-behavior: smooth;
    /* width: 100vw;
    height: 100vh;
    overflow: hidden; */
    /* background: rgba(217, 105, 105, 0.5); */
}
.contenedor {
    width: 100vw;height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
} 
header{
    width: 100vw;
    height: 60px;
    top: -60px;
    position: fixed;
    background: linear-gradient(2deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
    text-align: center;
    z-index: 999;
    /* outline: 1px solid green; */
    display: flex;justify-content: center;align-items: center;
}
section {
    scroll-snap-align: start end;
    height: 100vh;
    color: #000;
    scroll-behavior: smooth;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.espaciocel{
    border-top: 1px solid rgb(202, 202, 202);
    width: 100vw;
    height: 70px;
    position: absolute;
    bottom: 0;
    opacity: 0.5;
    /* background: rgba(0, 0, 0, 0.5); */
}