::-webkit-scrollbar {display: none;width: 0;}
*{box-sizing: border-box;margin: 0;padding: 0;
        scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}
body{
    scroll-behavior: smooth;
    /* background: rgba(217, 105, 105, 0.5); */
}
.contenedor {
    width: 100vw;height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
} 
header{
    width: 100vw;
    height: 60px;
    top: -60px;
    position: fixed;
    background: #fff;
    /* outline: 1px solid blueviolet; */
    text-align: center;
    z-index: 999;
}
section {
    scroll-snap-align: start end;
    height: 100vh;
    color: #000;
    scroll-behavior: smooth;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    position: fixed;
    top: 20px;
    left: -70px;
    width: 70px;
    /* background: rgba(255, 0, 0, 0.5); */
    transition: all 0.5s;
    z-index: 999;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 70px;
    height: calc(100vh - 85px);
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li{
    width: 50px;
    height: 50px;
    list-style: none;
}
nav ul li a .nav{
    width: 100%;height: 100%;
    /* background: rgba(0, 255, 0, 0.1); */
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}
a{
    color: #fff;
    text-align: right;
}
nav ul li a .activeNav{
    /* background: rgba(255, 0, 0, 0.1); */
    border: 1px solid red;
    border-radius: 5px;
}